.header__burger{
    display: none;
    position: relative; 
    width: 24px;
    height: 24px;
    fill: #000;
}

@media (width <= 768px) {
    .header__burger {
        position: relative;
        display: block;
        align-items: center;
        z-index: var(--layer-3);
    }
    .header__burger-btn {
        display: block; 
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    
    .header__burger-icon--btn,
    .header__burger-btn--open .header__cross-icon--btn {
        display: block;
    }

    .header__cross-icon--btn,
    .header__burger-btn--open .header__burger-icon--btn {
        display: none;
    }
}

.header__burger-cross {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

