table {
	margin: 10px;
	border-collapse: collapse;
	border-spacing: 0px;
	font-family: sans-serif;
}

caption,
th,
td {
	padding: 3px;
	border: 1px solid #000;
	font-size: medium;
}

caption {
	border-bottom: none;
	font-weight: 700;
	font-size: large;
}

.weekend {
	color: red;
}
