.page {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}
.page__body{
    width: 100%;
    min-width: 375;
    margin: 0;
}

.container{
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

h1 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 57px;
    line-height: 112%;
    color: var(--second-color);
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(0, 0, 0, 0.6);
}