.page {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}
.page__body{
    width: 100%;
    min-width: 375;
    margin: 0;
}

.container{
    max-width: 1272px;
    padding: 0 16px;
    margin: 0 auto;
}

h1 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 57px;
    line-height: 112%;
    color: var(--second-color);
}

@media (width <= 768px) {
    h1{
        font-size: 32px;
        line-height: 106%;
    }
}


h2 {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: var(--second-color);
}

@media (width <= 768px) {
    h2{
        font-size: 30px;

    }
}

h4{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--second-color);
}

@media (width <= 1100px) {
    h4{
        font-size: 15px;
    }
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: rgba(0, 0, 0, 0.6);
}

.raiting__3-5{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 126px;
    height: 19px;
}

.raiting__3-5-adapted{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 106px;
    height: 16px;
}

@media (width <= 1100px){
    .raiting__3-5{
        display: none;
    }
    .raiting__3-5-adapted{
        display: block;
    }
}


.raiting__4-5{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 150px;
    height: 19px;
}

.raiting__4-5-adapted{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 126px;
    height: 16px;
}

@media (width <= 1100px){
    .raiting__4-5{
        display: none;
    }
    .raiting__4-5-adapted{
        display: block;
    }
}

.sale__20{
    width: 58px;
    height: 28px
}


.sale__20-adapted{
    display: none;
    width: 40px;
    height: 20px;
}

@media (width <= 1100px){
    .sale__20{
        display: none;
    }
    .sale__20-adapted{
        display: block;
    }
}

.sale__30{
    width: 58px;
    height: 28px
}

.sale__30-adapted{
    display: none;
    width: 40px;
    height: 20px;
}

@media (width <= 1100px){
    .sale__30{
        display: none;
    }
    .sale__30-adapted{
        display: block;
    }
}