:root {
/*font-family*/
    --font-family: "Satoshi", sans-serif;
    --second-family: "IntegralCF", sans-serif;


/*color*/
	--second-color: #000;
	--bg-color: #f0f0f0;
    --text-color: rgba(0, 0, 0, 0.6);
    --hero-bg-color: #f2f0f1;

/*container*/
    --container-width: 1240px;
    --container-padding: 15px;

/*layer*/
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
/* transitions */
    --transition-time: 0.2s;

}